/* @font-face {
  font-family: 'PF Tempesta Five', sans-serif;
  font-family: 'PF Tempesta Five Extended', sans-serif;
  font-family: 'PF Tempesta Five Condensed', sans-serif;
  font-family: 'PF Tempesta Five Compressed', sans-serif;
  src: url('http://fonts.cdnfonts.com/css/pf-tempesta-five');
} */

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'PF Tempesta Five Condensed', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  font-family: 'PF Tempesta Five Condensed', sans-serif;
  font-size: 1em;
  margin-top: 30px;
}

input{
  font-family: 'PF Tempesta Five Condensed', sans-serif;
  font-size: 1em;
}

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: black;
}

/*----------------------------------Header----------------------------*/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: black;
}

.header-logo{
  justify-self: flex-start;
  padding-left: 2rem;
  color: darkblue;
  font-size: 20px;
}

.header-links {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  color: white;
}


.header-links a {
  padding: 2rem;
  font-size: 20px;
  text-decoration: underline;
}

/*-------------------------------Connexion-------------------------------*/

.content-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


.form {
  display: flex;
  flex-direction: column;
  color: white;
  width: 500px;
  padding: 50px;
  background: rgba(97, 97, 107, 0.5);
  border-radius: 15px ;
  border-style: groove;
  text-align: center;
}

.search-section{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

